/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* RESET STYLES */
@import './normalize.css';

:root {

    /* COLORS */
    --white: #FFFFFF;
    --black: #000000;

    --header-bg: #D9D9D9;
    --main-bg: #FFFFFF;

    --font-color: #000000;

    /* FONTS */
    --sans-serif: 'DM Sans', sans-serif;

}


/********************/
/* GLOBAL - COMMONS */
/********************/

/* TAG SELECTORS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--sans-serif);
    color: var(--font-color);
    background-color: var(--main-bg);
}

img {
    width: 100%;
}

/* CLASS SELECTORS */

.hidden {
    display: none !important;
}


/********************/
/* LAYOUTS **********/
/********************/

/* HEADER */

.workout-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--header-bg);
}

.logo {
    display: flex;
    width: 30px;
    margin-left: 20px;
    background-color: red;
    overflow: hidden;
}

.logo img {
    object-fit: contain;
}


/****************************************************************/
/* PAGES ********************************************************/
/****************************************************************/


/********************/
/* INDEX ************/
/********************/

.workout-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    min-height: calc(100vh - 50px);
    gap: 24px;
}

/* MAIN > HEADER */

.workout-main-header {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin-top: 24px;
    gap: 12px;
}

.workout-main-header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.workout-main-header p {
    font-size: 1.5rem;
    font-weight: 400;
}

/* MAIN > SECTION */

#workout-pills {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    gap: 24px;
    margin-bottom: 48px;
}

/* MAIN > SECTION > HEADER */

#workout-pills header {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#workout-pills header p {
    font-size: 1rem;
    font-weight: 400;
}

.workout-pills-header-container {
    display: flex;
}

.workout-pills-header-container h2 {
    display: flex;
    align-items: flex-end;
    font-size: 2.3rem;
    font-weight: 700;
}

.workout-pills-header-container span {
    font-size: 2.3rem;
    margin-left: 10px;
}

/* MAIN > SECTION > ARTICLES */

/* CLOSED PILLS */

.closed-pill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    border: 2px solid var(--black);
    border-radius: 8px;
}

.closed-pill header {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    gap: 5px;
}

.closed-pill header h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.closed-pill header p {
    font-size: 1rem;
    font-weight: 400;
}

.closed-pill a span {
    font-size: 2rem;
}


/********************/
/* NOTEBOOK *********/
/********************/

.notebook-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    min-height: calc(100vh - 50px);
    gap: 24px;
}

/* MAIN > HEADER */

.notebook-header {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 24px;
}

.notebook-header p {
    font-size: 1.5rem;
    font-weight: 400;
}

.notebook-header-title {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 12px;
}

.notebook-header-title a span {
    font-size: 2.4rem;
    margin-right: 10px;
}

.notebook-header-title h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

/* MAIN > SECTION */

.notebook-container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 48px;
}

.jupyter-notebook {
    position: relative;
    width: 100%;
    /* min-width: 600px;
    height: 730px;
    background-color: var(--header-bg); */
    overflow: hidden;
}

.jupyter-notebook button {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    margin: 10px 10px 0 0;
    z-index: 100;
}

.jupyter-notebook button span {
    margin-left: 5px;
    cursor: pointer;
}

.jupyter-notebook div {
    object-fit: contain;
}

/* MAIN > SECTION > ARTICLE */

#notebook-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    max-width: 375px;
    margin: 0 20px;
    gap: 10px;
}

#notebook-card h3 {
    font-size: 1.5rem;
}

.video-notebook { /** PENDIENTE MODIFICAR */
    position:relative;
    width: 100%;
    max-width: 375px;
    padding:56.25% 0 0 0;
}

#notebook-card a {
    width: 100%;
    padding: 16px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid var(--black);
}



/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/

/* 992px *********************************/

@media screen and (max-width:992px) {

    .notebook-container {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        margin-bottom: 48px;
        gap: 12px;
    }

    #notebook-card h3 {
        display: none;
    }

} /* 992px end */