.workout-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--header-bg);
}

.logo {
    display: flex;
    width: 30px;
    margin-left: 20px;
    background-color: red;
    overflow: hidden;
}

.logo img {
    object-fit: contain;
}