.notebook-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    min-height: calc(100vh - 50px);
    gap: 24px;

    /* HEADER */

    .notebook-header {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-top: 24px;

        .notebook-header-title {
            display: flex;
            align-items: center;
            height: 100%;
            gap: 12px;

            & span {
                font-size: 2.4rem;
                margin-right: 10px;
            }

            & h1 {
                font-size: 2.5rem;
                font-weight: 700;
            }
        }

        .notebook-header-description {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 600px;

            & p {
                font-size: 1.5rem;
                font-weight: 400;
            }

            & a{
                display: flex;
                align-items: center;
                font-size: 1rem;

                & span {
                    font-size: 2rem;
                    margin-left: 10px;
                }
            }
        }
    }

    /* SECTION */

    .notebook-container {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin-bottom: 48px;

        .jupiter-notebook {
            position: relative;
            width: 100%;
            min-width: 600px;
            height: 730px;
            background-color: var(--header-bg);
            overflow: hidden;

            & button {
                position: absolute;
                right: 0;
                display: flex;
                align-items: center;
                margin: 10px 10px 0 0;
                color: var(--white);

                & span {
                    margin-left: 5px;
                }
            }

            & div {
                object-fit: contain;
            }
        }

        & article {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 100%;
            max-width: 375px;
            margin: 0 20px;
            gap: 10px;

            & h3 {
                font-size: 1.5rem;
            }

            .video-notebook {
                position:relative;
                width: 100%;
                max-width: 375px;
                padding:56.25% 0 0 0;
            }

            & a {
                width: 375px;
                padding: 16px;
                text-align: center;
                font-size: 1rem;
                font-weight: 700;
                border: 1px solid var(--black);
            }
        }
    }
}